# Virtualenv
.Python
bin
lib
include
*.py[cod]
./build/*
./dist/*
./out/*
./pyICSParser.egg-info/*
./rsc/*
./venv/*
.vscode/*
dist/
out/
pyICSParser.egg-info/
rsc/
vscode
.venv
venv
pip-selfcheck.json
# Mac OS X custom attribute files
.DS_Store
